.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.center{
  display: flex;
  justify-content: center;
}

span { cursor: pointer; }

nav > a {
    padding: 5px;
    text-decoration: none;
}

nav > a.active {
    background-color: blue;
}
