<app-header></app-header>

<div class="example-container">
  <div class="form-container">
    <form
      [formGroup]="rForm"
      (ngSubmit)="onSubmit(rForm.value)"
      class="form"
      novalidate
    >
      <mat-form-field class="form-element" hintLabel="Max 20 caracteres">
        <mat-label>Usuario</mat-label>
        <input
          matInput
          #inputuser
          maxlength="20"
          formControlName="user"
          placeholder="Usuario"
          (keydown)="clearError()"
        />
        <mat-icon matSuffix>face</mat-icon>
        <mat-hint align="end">{{ inputuser.value?.length || 0 }}/20</mat-hint>
        <mat-error
          *ngIf="
            !rForm.controls['user'].valid && rForm.controls['user'].touched
          "
        >
          Debe ingresar un nombre de usuario con más de 3 caracteres!
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field class="form-element" hintLabel="Max 20 caracteres">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          #inputpassword
          maxlength="20"
          [type]="hide ? 'password' : 'text'"
          placeholder="password"
          formControlName="password"
          (keydown)="clearError()"
        />
        <!-- <mat-icon matSuffix>visibility_off</mat-icon> -->
        <button
          mat-icon-button
          type="button"
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-hint align="end"
          >{{ inputpassword.value?.length || 0 }}/20</mat-hint
        >
        <mat-error
          *ngIf="
            !rForm.controls['password'].valid &&
            rForm.controls['password'].touched
          "
        >
          Debe ingresar una contraseña con mas de 6 caracteres
        </mat-error>
      </mat-form-field>

      <mat-card *ngIf="messageError" style="color: red">{{
        messageError
      }}</mat-card>

      <br />

      <div>
        <button
          [disabled]="!rForm.valid"
          type="submit"
          mat-raised-button
          color="primary"
          style="width: 100%"
        >
          Iniciar sesion
          <span class="material-icons"> login </span>
        </button>

        <br />
        <span class="center">ó</span>
        <br />

        <button
          [routerLink]="['/userRegister']"
          type="button"
          mat-raised-button
          color="warn"
          style="width: 100%"
        >
          Crear nuevo usuario
          <span class="material-icons"> person_add_alt_1 </span>
        </button>
      </div>
    </form>
  </div>
</div>
